<!DOCTYPE html>
<html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Аудиотека</title>
	<link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="layouts/css/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet"/>
	<script src="layouts/compositions/delete_track.js"></script>
	<script src="layouts/authors/delete_author.js"></script>
	<script src="layouts/genres/delete_genre.js"></script>
</head>
<body>
    <header class="admin_header">
		<div id="admin_title">Панель администрирования сайта</div>
		<div id="admin_icon_container">
			<img src="../../images/logo.png" id="admin_logo">
		</div>
	</header>
	<div class="content">
		<nav id="admin_nav_menu">
			<div id="admin_menu">
				<div class="admin_menu_item_container">
					<a href="../admin/authors.php" class="admin_menu_link">
						<li class="admin_menu_item">
							Исполнители
						</li>
					</a>
				</div>
				<div class="admin_menu_item_container">
					<a href="../admin/compositions.php" class="admin_menu_link">
						<li class="admin_menu_item">
							Композиции
						</li>
					</a>
				</div>
				<div class="admin_menu_item_container">
					<a href="../admin/genres.php" class="admin_menu_link">
						<li class="admin_menu_item">
							Жанры
						</li>
					</a>
				</div>
			</div>
			<div id="admin_back_link_container">
				<li>
					<a href="/" id="admin_back_link">На сайт</a>
				</li>
			</div>
		</nav>
		<main>