<div class="admin_section_title" style="margin-top: 4%;">
    Изменение существующего исполнителя
</div>

<form action="../admin/authors.php" method="post" name="fix_author_form" enctype="multipart/form-data",>
    <div class="append_form_container">
        Имя исполнителя: <input type="text" name="fix_name_author" class="text_input_field" value="OLD_NAME"><br>
        Осноной жанр: <select name="fix_author_genre" class="list_input_field">
            GENRES
        </select><br>
        <div class="image_input_container">
            <div class="image_title">
                <div style="height: 80%;">
                    Обложка исполнителя: 
                    <div class="file_form">
                        <input class="file_form_button" type="button" onclick="document.getElementById('author_cover_input').click()" value="Выберите файл" /><br>
                        <span id="imageNameSpan">SHORT_IMAGE_SRC</span>
                    </div>
                </div>
            </div>
            <div class="image_cover">
                <img id="image-preview" src=IMAGE_SRC>
            </div>
        </div>
        <br>
        <div class="admin_submit_button_bottom_container">
            <button type="submit" class="admin_submit_bottom_button">Принять изменения</button>
        </div>
    </div>
    <input type="file" name="fix_author_cover" id="author_cover_input" onchange="ImageSelected()" style="width: 0;">
    <input type="text" name="old_cover_src" style="width: 0;" value="SHORT_IMAGE_SRC">
    <input type="text" name="old_author_id" style="width: 0;" value="OLD_AUTHOR_ID">
</form>

<script>
    function ImageSelected(e) {
        file = document.getElementById('author_cover_input').files[0];
        document.getElementById('imageNameSpan').innerHTML = file.name;
        displayImage();
    }
    function displayImage() {
      var preview = document.querySelector('#image-preview');
      var file = document.querySelector('#author_cover_input').files[0];
      var reader = new FileReader();
  
      reader.addEventListener("load", function () {
        preview.src = reader.result;
      }, false);
  
      if (file) {
        reader.readAsDataURL(file);
      }
    }
  </script>