<form action="../admin/compositions.php" method="post">
    <button class="admin_add_link_button" name="add_composition" value="1">
        <div class="admin_add_link_button_content">
            <div class="admin_add_link_button_icon">
                <img src="../../images/icons/plus.png" alt="">
            </div>
            <div class="admin_add_link_button_title">
                Добавить трек
            </div>
        </div>
    </button>
</form>
<div class="admin_section_title">
    Все композиции
</div>
<div class="admin_tracks_container">
    КОМПОЗИЦИИ
</div>