        </div>
        <footer class="footer">
            <div class="footer_title">
                Сайт создан при поддержке ОмГТУ
            </div>
            <div class="footer_content">
                <div class="footer_contacts">
                    <p>aag.omsk@gmail.com - Анатольев А.Г. (Старший преподаватель кафедры ACOИУ)</p>
                    <p>zyuzko142@gmail.com - Зюзько В.В. (Разработчик программного продукта)</p>
                </div>
                <div class="footer_logos">
                    <div class="footer_logo">
                        <a href="">
                            <img src="../images/logo.png" height="60px" width="298px">
                        </a>
                    </div>
                    <div class="footer_logo">
                        <a href="https://www.omgtu.ru/">
                            <img src="../images/OMSTU.png" width="100px" height="100px">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer_footer">
                WEB-разработка 2022 - 2023 (ФИТиКС, ПМиФИ)
            </div>
        </footer>
    </body>
</html>