<!DOCTYPE html>
<html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Аудиотека</title>
	<link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="layouts/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap&subset=cyrillic-ext" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header_container _container">
				<div class="header_logo_container">
					<a href="../structural.php">
						<img src="../images/logo.png" class="header_logo">
					</a>
				</div>
				<nav class="header_menu menu">
					<ul class="menu_list">
						<li class="menu_item">
							<a href="../structural.php" class="menu_link">Главная</a>
						</li>
						<li class="menu_item">
							<a href="../authors.php" class="menu_link">Исполнители</a>
						</li>
						<li class="menu_item">
							<a href="../compositions.php" class="menu_link">Композиции</a>
						</li>
						<li class="menu_item">
							<a href="../genres.php" class="menu_link">Жанры</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>