<div class="admin_section_title" style="margin-top: 4%;">
    Добавление нового жанра
</div>

<form action="../admin/genres.php" method="post" name="add_genre_form" enctype="multipart/form-data">
    <div class="append_form_container">
        Название жанра: <input type="text" name="name_genre" class="text_input_field"><br>
        <div class="image_input_container">
            <div class="image_title">
                <div style="height: 80%;">
                    Обложка жанра: <br> <input type="file" id="genre_cover" name="genre_cover" class="image_input_field" onchange="displayImage()"><br>
                </div>
            </div>
            <div class="image_cover">
                <img id="image-preview" src="../../../images/compositions/default.png">
            </div>
        </div>
        <br>
        <div class="admin_submit_button_bottom_container">
            <button type="submit" class="admin_submit_bottom_button">Добавить жанр</button>
        </div>
    </div>
</form>

<script>
    function displayImage() {
      var preview = document.querySelector('#image-preview');
      var file = document.querySelector('#genre_cover').files[0];
      var reader = new FileReader();
  
      reader.addEventListener("load", function () {
        preview.src = reader.result;
      }, false);
  
      if (file) {
        reader.readAsDataURL(file);
      }
    }
  </script>